<h1>New Card</h1>

<%= form_with model: @card do |form| %>
  <div>
    <%= form.label :term %><br>
    <%= form.text_field :term %>
  </div>

  <div>
    <%= form.label :definition %><br>
    <%= form.text_area :definition %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
